{% extends 'base.html' %}


{% block theme_button %}
<link rel="stylesheet" href="static/styles/root.css">
<link rel="stylesheet" href="static/styles/theme.css">
<link rel="stylesheet" href="static/styles/content.css">
<div class="theme-toggle">
    <label class="toggle-switch">
        <input type="checkbox" id="themeToggle">
        <span class="slider"></span>
    </label>
    <span id="themeLabel" style="margin-left: 10px;">Light Mode</span>
</div>
<script src="static/scripts/theme.js"></script>


{% endblock %}
